# ===========================
# ROS2
# ===========================
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# ===========================
# Python
# ===========================
__pycache__/
*.pyc

# ===========================
# VSCode
# ===========================
.vscode/
*.code-workspace

# ===========================
# Linux
# ===========================
*~
*.swp
.cache/

# ===========================
# Unreal Engine
# ===========================

**/Binaries/
**/DerivedDataCache/
**/Intermediate/
**/Saved/

*.opensdf
*.sdf
*.suo
*.VC.db

**/.ignore
*.tmp

# ==========================
# CMake
# ==========================
compile_commands.json

